.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 1rem;
  box-shadow: 0px 1px 5px -2px rgba(0, 0, 0, 0.7);
  position: relative;
}

.header h1 {
  font-weight: var(--weight7);
  font-size: var(--size1);
  color: var(--brand1);
}

.header img{
  cursor: pointer;
}

.header div {
  background-color: var(--white);
  display: none;
  justify-content: center;
  gap: 30px;
  width: 100%;
  padding: 12px 0 50px 0;
  position: absolute;
  top: 60px;
  left: 0;
}

.header div button {
  background-color: var(--white);
  font-weight: var(--weight6);
  font-size: var(--size4);
  color: var(--brand1);
  border: 1px solid var(--brand1);
  border-radius: var(--radius1);
  padding: 10px 40px;
}

.header div button:hover {
  background-color: #b58cf238;
}

.header div .emphasis-button {
  background-color: var(--brand1);
  color: var(--white);
  border: none;
}

.header div .emphasis-button:hover {
  background-color: var(--brand2);
}



@media (min-width: 603px) {
  .header{
    padding: 15px 60px;
  }

  .header img{
    display: none;
  }
  
  .header div {
    display: flex;
    gap: 12px;
    position: static;
    width: unset;
  }

  .header div button{
    padding: 5px 20px;
  }
}