/* modal dinamico */
.bgmodal {
    top: 0;
    left: 0;
    background-color: rgba(128, 128, 128, 0.678);
    width: 100%;
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.bgmodal .modal {
    position: relative;
    background-color: white;
    
    border-radius: 16px;
    
}

.bgmodal .modal .modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background: rebeccapurple;
}


.bgmodal .modal .delete-profile, .bgmodal .modal .update-profile{
    width: 520px;
    height: 380px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.bgmodal .modal .delete-profile h2{
    font-size: 24px;
    font-weight: 700;
    color: #4E2096;
}
.bgmodal .modal .delete-profile button{
    width: 240px;
    height: 27px;
    border-radius: 16px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}
.bgmodal .modal .delete-profile .cancel{
    background-color: #4E2096;
    color: white;
    border: 1px solid #4E2096;   
}
.bgmodal .modal .delete-profile .delete{
    background-color: white;
    color: #EA534A;
    border: 1px solid #EA534A;
}

.bgmodal .modal .update-profile form{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.bgmodal .modal .update-profile form input{
    width: 240px;
    height: 27px;
    background-color: white;
    border: 1px solid #B48CF2;
    border-radius: 16px;
}